<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <meta charset="utf-8">  
    </head>
    <body>
        <div class="container context_container" role="main">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="submodule-title">{{ title }}</h1>
            </div>
            <div class="col-md-8 col-md-offset-2 submodule-content">
                {{ content }}
            </div>
            <div class="col-md-8 col-md-offset-2">
                <a class="back_to_materials" href="../index.html">к содержанию</a>
            </div>
        </div>
    </body>
</html>

